<div class="card-deck">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Be Honest</h5>
            <p class="card-text">No cheating, whatsoever. Asking for or distributing braindumps will result in an
                immediate ban.</p>
            <p class="card-text">Do not ask for/distribute paid materials unlawfully. Keep this place 100% safe for
                work.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Be Precise</h5>
            <p class="card-text">Please attempt to use the appropriate channel for your discussion.</p>
            <p class="card-text">Some people may mute channels that are not relevant to them; please respect this.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Be Respectful</h5>
            <p class="card-text">Treat everyone with respect. There will be no tolerance for any harassment or bigotry of any form.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Be Courteous</h5>
            <p class="card-text">Please do not initiate random/unprompted DMs.</p>
            <p class="card-text">DMs to mods/admins regarding Discord server moderation needs or questions are always permissible!</p>
        </div>
    </div>
</div>