{% extends "base.html" %}
{% block pagetitle %}Join{% endblock %}
{% block content %}
<script>
    $(document).ready(function () {
        if ($("#userclass")[0].value != 'periphery') {
            $("#periphery-info").hide();
        }
        if ($("#userclass")[0].value != 'Member') {
            $("#fullmember-info").hide();
            $("#fullmember-info").find('input').prop('required', false)
        }
        if ($("#userclass")[0].value != 'recruiter') {
            $("#recruiter-info").hide();
        }
        $('#userclass').on('change', function () {
            if (this.value == 'Member') {
                $("#periphery-info").hide("slow");
                $("#recruiter-info").hide("slow");
                $("#fullmember-info").find('input').prop('required', true)
                $("#fullmember-info").show("slow");
            } else if (this.value == "periphery") {
                $("#fullmember-info").find('input').prop('required', false)
                $("#fullmember-info").hide("slow");
                $("#recruiter-info").hide("slow");
                $("#periphery-info").show("slow");
            } else if (this.value == "recruiter") {
                $("#fullmember-info").find('input').prop('required', false)
                $("#fullmember-info").hide("slow");
                $("#periphery-info").hide("slow");
                $("#recruiter-info").show("slow");
            } else {
                $("#fullmember-info").find('input').prop('required', false)
                $("#fullmember-info").hide("slow");
                $("#periphery-info").hide("slow");
            }
        });
    });
</script>
<form method="post">
    {{ form.csrf_token }}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Read the rules</h5>
            <p class="card-text">We're thrilled that you'll be joining us! First, we just would like to ask that you <b>[actually]
                read</b> and agree to the rules.</p>
            {% include "general-rules.html" %}
        </div>
        <div class="card-body">
            <div class="form-check">
                {{form.accept_general_rules(class_="form-check-input")}}
                {{form.accept_general_rules.label(class_="form-check-label")}}
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">What type of user are you?</h5>
            <p class="card-text">We have different types of users. To sort you into the right class, please select what
                you'd like to talk about on the server.</p>

            <div class="form-group">
                {{form.userclass.label}}
                {{form.userclass(class_="form-control")}}
            </div>
            <div class="card" id="fullmember-info">
                <div class="card-body">
                    <h5 class="card-title">User Classification: Full Membership</h5>
                    <p class="card-text">Based on your intended use of the server, we think you're best suited as a full
                        member. You'll have access to channels with topics like:</p>
                    <div class="card-columns">
                        <div class="card  text-white bg-dark">
                            <div class="card-body">
                                <p class="card-text">Service Provider Networking</p>
                            </div>
                        </div>
                        <div class="card  text-white bg-dark">
                            <div class="card-body">
                                <p class="card-text">Enterprise Routing and Switching</p>
                            </div>
                        </div>
                        <div class="card  text-white bg-dark">
                            <div class="card-body">
                                <p class="card-text">Network Automation</p>
                            </div>
                        </div>
                        <div class="card  text-white bg-dark">
                            <div class="card-body">
                                <p class="card-text">Network Security</p>
                            </div>
                        </div>
                        <div class="card  text-white bg-dark">
                            <div class="card-body">
                                <p class="card-text">Rants</p>
                            </div>
                        </div>
                        <div class="card  text-white bg-dark">
                            <div class="card-body">
                                <p class="card-text">Jobs</p>
                            </div>
                        </div>
                        <div class="card  text-white bg-dark">
                            <div class="card-body">
                                <p class="card-text">Education</p>
                            </div>
                        </div>
                        <div class="card  text-white bg-dark">
                            <div class="card-body">
                                <p class="card-text">Home Labs</p>
                            </div>
                        </div>
                        <div class="card  text-white bg-dark">
                            <div class="card-body">
                                <p class="card-text">Off Topic Discussion</p>
                            </div>
                        </div>
                    </div>
                    <p class="card-text">As such, you will need to agree to the additional rules below. If these do
                        not
                        make
                        sense for you, please select another use case.</p>
                    {% include "member-rules.html" %}
                </div>
                <div class="card-body">
                    <div class="form-check">
                        {{form.accept_member_rules(class_="form-check-input")}}
                        {{form.accept_member_rules.label(class_="form-check-label")}}
                    </div>
                </div>
            </div>
            <div class="card" id="periphery-info">
                <div class="card-body">
                    <h5 class="card-title">User Classification: Periphery Membership</h5>
                    <p class="card-text">Based on your intended use of the server, we think you're best suited as a
                        periphery
                        member. You'll have access to channels with topics like:</p>
                    <div class="card-columns">
                        <div class="card  text-white bg-dark">
                            <div class="card-body">
                                <p class="card-text">General IT, Non-Network Coding, and Server Administration</p>
                            </div>
                        </div>
                        <div class="card  text-white bg-dark">
                            <div class="card-body">
                                <p class="card-text">Home Networking, Residential Internet and WiFi</p>
                            </div>
                        </div>
                        <div class="card  text-white bg-dark">
                            <div class="card-body">
                                <p class="card-text">Off Topic Discussion</p>
                            </div>
                        </div>
                    </div>
                    <p class="card-text">If this doesn't seem right and you are or are aspiring to become a network
                        engineering professional, please edit your choice above.</p>
                </div>
            </div>
            <div class="card" id="recruiter-info">
                <div class="card-body">
                    <h5 class="card-title">User Classification: Recruiter</h5>
                    <p class="card-text">Based on your intended use of the server, we think you're best suited as a
                        recruiter. You'll have access to channels with topics like:</p>
                    <div class="card-columns">
                        <div class="card  text-white bg-dark">
                            <div class="card-body">
                                <p class="card-text">Job Posting</p>
                            </div>
                        </div>
                        <div class="card  text-white bg-dark">
                            <div class="card-body">
                                <p class="card-text">General Networking Discussion</p>
                            </div>
                        </div>
                        <div class="card  text-white bg-dark">
                            <div class="card-body">
                                <p class="card-text">Off Topic Discussion</p>
                            </div>
                        </div>
                    </div>
                    <p class="card-text">Please note that the Recruiter user class is for recruiters who are looking
                        for an audience to promote network engineering related jobs. This server does not cater to
                        IT professions other than those which require a specific network engineering skill set.</p>
                    <p class="card-text">If this doesn't seem right and you are or are aspiring to become a network
                        engineering professional, please edit your choice above.</p>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Join</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}