<div class="card-deck">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Be Relevant</h5>
            <p class="card-text">Outside of optional Periphery channels, no:</p>
            <ul>
                <li>Server administration</li>
                <li>Home networking</li>
                <li>Non-network programming</li>
                <li>Non-networking IT disciplines</li>
            </ul>
            <p class="card-text">Occasional and casual discussion of such topics in #offtopic by established server participants is permissible.</p>
        </div>
    </div>
</div>