<div class="card-header"><p class="h4 card-title">3Q2021 Meeting</p></div>
<div class="card-group">
    <div class="card mb-3">
        <div class="card-header"><h5 class="card-title">Date and Time</h5></div>
        <div class="card-body text-left">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Date: <strong>17 July 2021</strong></li>
                <li class="list-group-item">UTC: <strong>7:00 PM to 8:30 PM</strong></li>
                <li class="list-group-item">EDT: <strong>3:00 PM to 4:30 PM</strong></li>
            </ul>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header"><h5 class="card-title">Call for Presentations</h5></div>
        <div class="card-body text-center">
            <p class="card-text">For each quarterly meeting, we wish to select up to 2 lightning talks (~10 minutes) and
                up to 1
                Technical Presentation (~25 minutes) from server participants. These should be presentations on things
                you've been
                working on, examples of an interesting configuration, demonstration of a network automation approach or
                product, or
                even a talk about career growth strategy, education, etc. There are few limitations as long as it's
                relevant to
                network engineering. Open source and server member developed software and ideas will be given priority
                to vendor
                presentations. If you are interested in presenting, please contact Jason.</p>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header"><h5 class="card-title">Agenda</h5></div>
        <div class="card-body text-left">
            <p class="card-text">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">19:00 UTC - Welcome</li>
                <li class="list-group-item">19:05 UTC - Lightning Talk 1</li>
                <li class="list-group-item">19:15 UTC - Lightning Talk 2</li>
                <li class="list-group-item">19:25 UTC - Community Updates</li>
                <li class="list-group-item">19:35 UTC - Technical Presentation</li>
                <li class="list-group-item">20:00 UTC - Open Discussion</li>
                <li class="list-group-item">20:30 UTC - Meeting End, Social Follows</li>
            </ul>
            </p>
        </div>
    </div>
</div>