<p class="h4 card-title">3Q2021 Meeting</p>
<p class="h5">Date and Time</p>
<ul>
    <li>
        17 July 2021
        <ul>
            <li>7:00 PM to 8:30 PM UTC</li>
            <li>3:00 PM to 4:30 PM EDT</li>
        </ul>
    </li>
</ul>
<p class="h5">Call for Presentations</p>
<p class="card-text">For each quarterly meeting, we wish to select up to 2 lightning talks (~10 minutes) and up to 1
    Technical Presentation (~25 minutes) from server participants. These should be presentations on things you've been
    working on, examples of an interesting configuration, demonstration of a network automation approach or product, or
    even a talk about career growth strategy, education, etc. There are few limitations as long as it's relevant to
    network engineering. Open source and server member developed software and ideas will be given priority to vendor
    presentations. If you are interested in presenting, please contact Jason.</p>
<p class="h5">Agenda</p>
<p class="card-text">
<ul>
    <li>19:00 UTC - Welcome</li>
    <li>19:05 UTC - Lighting Talk 1</li>
    <li>19:15 UTC - Lightning Talk 2</li>
    <li>19:25 UTC - Community Updates</li>
    <li>19:35 UTC - Technical Presentation</li>
    <li>20:00 UTC - Open Discussion</li>
    <li>20:30 UTC - Meeting End (Social to continue in #general-vc)</li>
</ul>
</p>