<div class="card-header"><p class="h4 card-title">Previous Events</p></div>
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card h-100">
            <div class="card-header"><h5 class="card-title">DisNOG 2 - 10 December 2021</h5></div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="ratio ratio-16x9">
                            <iframe src="https://www.youtube-nocookie.com/embed/TPNE7gZobro"
                                    allowfullscreen></iframe>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <p class="fw-bold">The Network is Down: Fire Drills</p>
                        <p class="fst-italic">Jonathan Kartes, Arista Networks</p>
                        <ul>
                            <li><a href="https://github.com/disnog/disnog-presentations/blob/main/DisNOG2/The%20Network%20is%20Down.pdf"
                                   target="_blank">Slides</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <p class="fw-bold">How Not to Run a Maintenance Window</p>
                        <p class="fst-italic">Alan Stuart, Juniper Networks</p>
                        <ul>
                            <li><a href="https://github.com/disnog/disnog-presentations/blob/main/DisNOG2/How%20Not%20to%20Run%20a%20Maintenance%20Window.pdf"
                                   target="_blank">Slides</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <p class="fw-bold">Community Updates</p>
                        <p class="fst-italic">Jason R. Rokeach, Juniper Networks</p>
                    </li>
                    <li class="list-group-item">
                        <p class="fw-bold">Applying Lean MFG Principles to Networking through Factorio</p>
                        <p class="fst-italic">Darrel Manalang, e-Mayhem</p>
                        <ul>
                            <li><a href="https://github.com/disnog/disnog-presentations/blob/main/DisNOG2/Applying%20Lean%20MFG%20Principles%20to%20Networking%20through%20Factorio.pdf"
                                   target="_blank">Slides</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-header"><h5 class="card-title">DisNOG 1 - 17 July 2021</h5></div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="ratio ratio-16x9">
                            <iframe src="https://www.youtube-nocookie.com/embed/38vg0KOO75c"
                                    allowfullscreen></iframe>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <p class="fw-bold">Flingin' Bits for Fun and Profit: A Career Path in Networking</p>
                        <p class="fst-italic">Hugo Slabbert, Demonware</p>
                        <ul>
                            <li><a href="https://github.com/disnog/disnog-presentations/raw/main/DisNOG1/Flingin'%20Bits%20for%20Fun%20%26%20Profit.pdf"
                                   target="_blank">Slides</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <p class="fw-bold">Death to FHRP: EVPN in the Wild</p>
                        <p class="fst-italic">Jason R. Rokeach, Juniper Networks</p>
                        <ul>
                            <li><a href="https://github.com/disnog/disnog-presentations/raw/main/DisNOG1/Death%20to%20FHRP.pdf"
                                   target="_blank">Slides</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <p class="fw-bold">Community Updates</p>
                        <p class="fst-italic">Jason R. Rokeach, Juniper Networks</p>
                        <ul>
                            <li><a href="https://github.com/disnog/disnog-presentations/raw/main/DisNOG1/DisNOG1%20Community%20Updates.pdf"
                                   target="_blank">Slides</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <p class="fw-bold">Routing Security and RPKI</p>
                        <p class="fst-italic">Melchior Aelmans, Juniper Networks</p>
                        <ul>
                            <li><a href="https://github.com/disnog/disnog-presentations/raw/main/DisNOG1/Routing%20Security%20and%20RPKI.pdf"
                                   target="_blank">Slides</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
