<div class="card-header"><p class="h4 card-title">Previous Events</p></div>
<div class="card-group">
    <div class="card mb-3">
        <div class="card-header"><h5 class="card-title">DisNOG 2 - 10 December 2021</h5></div>
        <div class="card-body text-left">
            <p class="card-text">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/TPNE7gZobro"
                                allowfullscreen></iframe>
                    </div>
                </li>
                <li class="list-group-item">
                    <p class="font-weight-bold">The Network is Down: Fire Drills</p>
                    <p class="font-italic">Jonathan Kartes, Arista Networks</p>
                    <ul>
                        <li><a
                                href="https://github.com/disnog/disnog-presentations/blob/main/DisNOG2/The%20Network%20is%20Down.pdf"
                                target="_blank">Slides</a></li>
                        </li>
                    </ul>
                <li class="list-group-item">
                    <p class="font-weight-bold">How Not to Run a Maintenance Window</p>
                    <p class="font-italic">Alan Stuart, Juniper Networks</p>
                    <ul>
                        <li><a
                                href="https://github.com/disnog/disnog-presentations/blob/main/DisNOG2/How%20Not%20to%20Run%20a%20Maintenance%20Window.pdf"
                                target="_blank">Slides</a></li>
                    </ul>
                </li>
                <li class="list-group-item">
                    <p class="font-weight-bold">Community Updates</p>
                    <p class="font-italic">Jason R. Rokeach, Juniper Networks</p>
                </li>
                <li class="list-group-item">
                    <p class="font-weight-bold">Applying Lean MFG Principles to Networking through Factorio</p>
                    <p class="font-italic">Darrel Manalang, e-Mayhem</p>
                    <ul>
                        <li><a
                                href="https://github.com/disnog/disnog-presentations/blob/main/DisNOG2/Applying%20Lean%20MFG%20Principles%20to%20Networking%20through%20Factorio.pdf"
                                target="_blank">Slides</a></li>
                    </ul>
                </li>
            </ul>
            </p>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header"><h5 class="card-title">DisNOG 1 - 17 July 2021</h5></div>
        <div class="card-body text-left">
            <p class="card-text">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/38vg0KOO75c"
                                allowfullscreen></iframe>
                    </div>
                </li>
                <li class="list-group-item">
                    <p class="font-weight-bold">Flingin' Bits for Fun and Profit: A Career Path in Networking</p>
                    <p class="font-italic">Hugo Slabbert, Demonware</p>
                    <ul>
                        <li><a
                                href="https://github.com/disnog/disnog-presentations/raw/main/DisNOG1/Flingin'%20Bits%20for%20Fun%20%26%20Profit.pdf"
                                target="_blank">Slides</a></li>
                        </li>
                    </ul>
                <li class="list-group-item">
                    <p class="font-weight-bold">Death to FHRP: EVPN in the Wild</p>
                    <p class="font-italic">Jason R. Rokeach, Juniper Networks</p>
                    <ul>
                        <li><a
                                href="https://github.com/disnog/disnog-presentations/raw/main/DisNOG1/Death%20to%20FHRP.pdf"
                                target="_blank">Slides</a></li>
                    </ul>
                </li>
                <li class="list-group-item">
                    <p class="font-weight-bold">Community Updates</p>
                    <p class="font-italic">Jason R. Rokeach, Juniper Networks</p>
                    <ul>
                        <li><a
                                href="https://github.com/disnog/disnog-presentations/raw/main/DisNOG1/DisNOG1%20Community%20Updates.pdf"
                                target="_blank">Slides</a></li>
                    </ul>
                </li>
                <li class="list-group-item">
                    <p class="font-weight-bold">Routing Security and RPKI</p>
                    <p class="font-italic">Melchior Aelmans, Juniper Networks</p>
                    <ul>
                        <li><a
                                href="https://github.com/disnog/disnog-presentations/raw/main/DisNOG1/Routing%20Security%20and%20RPKI.pdf"
                                target="_blank">Slides</a></li>
                    </ul>
                </li>
            </ul>
            </p>
        </div>
    </div>
</div>